doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/bootstrap/less/bootstrap.css')
		script(src='/jquery/dist/jquery.min.js')
		script(src='/bootstrap/dist/js/bootstrap.min.js')
		script(src='/angular/angular.min.js')
		script(src='/d3/d3.min.js')
	body
		nav(class="navbar navbar-default")
			div(class="container-fluid")
				div(class="navbar-header")
					a(class="navbar-brand", href="/") Arbolista Development
		div(class="container")
			block content