/*
 *= require font-awesome/less/font-awesome
 *= require bootstrap/less/bootstrap
 *= require bubbles
 *= require_tree angular
 */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  .popover { color:black; }
}

a {
  color: #00B7FF;
}

.arb-languages {
	font-size:0.8em;
}

#resume_details {
	text-align:left;
	margin-top:15px;
	padding:15px;
  .panel-body {
    color:black;
  }
	button {
	  background-color:rgb(200, 232, 225);
	  color:black;
	}
}

.arb-slider-item .arb-bubbles {
	margin:auto;
}

.panel-body {
  color:black;
}
#resume_text {
  margin-top:10px;
}
#resume_buttons{
  position:absolute;
  z-index:100;
}
#arb_text_option {
	cursor:pointer;
	padding:10px;
	&.active {
		color:white;
	}
}

.arb-collaborator-thumbnail {
  background-color:white;
  display:inline-block;
  margin:auto;
  img {
    height:150px;
  }
}

html, body {
  height:100%;
}
#container {
  min-height: 100%;
  position:relative;
  padding-bottom:100px;
}
.navbar-brand {
  padding:3px;
}
#arb_logo {
  width:45px;
  display:inline;
}
#footer {
  width:100%;
  padding:15px;
  position:absolute;
  bottom:0px;
  border-top:2px solid darkgrey;
  background-color:#F8F8F8;
}
